.btn {
    display: inline-block;
    background-color: blue;
    color: white;
    font-size: 18px;
    line-height: 20px;
    padding: 10px 40px;
    border-radius: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: #fff;
    color: #333;
    border: 2px solid blue;
    padding: 8px 38px;
}